@media screen {
    body {
      font-family: 'Rubik', sans-serif;
      padding: 0;
      margin: 0;
    }
    
    h1 {
      color: #fffdd0;
      font-size: 40px;
      margin: 0;
    }
    
    h2 {
      margin: 0;
      color: #fffdd0;
    }
    
    h3 {
      font-family: 'Rubik-Light', sans-serif;
      color: #fffdd0;
      margin: 5px;
    }
    
    h4 {
      color: #fffdd0;
    }
    
    figcaption {
      color: #fffdd0;
      margin: 0;
    }
    
    ul {
      list-style: none;
      text-decoration: none;
    }

    html {
      scroll-behavior: smooth;
    }
    
    
    #navbar {
      background-color: #13095e;
      width: 100%;
      height: 60px;
      position: fixed;
      top: 0;
      left: 0;
    }

    #top-ul {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .top-nav {
      text-decoration: none;
      color: #fffdd0;
      text-decoration: none;
      padding: 10px 25px;
      font-size: 24px;
      scroll-behavior: smooth;
    }
    
    .top-nav:hover {
      background-color: #2311A8;
    }
    
    #welcome-section {
      background-color: #161940;
      height: 100vh;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #projects {
      background-color: #808080;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    
    .project-tile {
      height: 300px;
      width: 300px;
      text-align: center;
      text-decoration: none;
    }
    
    .project-image {
      height: 300px;
      width: 300px;
      margin: 1.5rem;
    }
    
    .project-caption {
      background-color: #161940;
      padding: 10px;
    }
    
    .project-caption:hover {
      background-color: #fffdd0;
      color: #161940;
    }
    
    #contact {
      padding: 10px;
      margin: 0;
      background-color: #161940;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    #profile-link {
      width: max-content;
      padding: 20px;
      text-decoration: none;
    }

    #profile-link:hover {
      background-color: #2311A8;
    }
    
    footer {
      background-color: #13095e;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #swHead {
      background-color: #2311A8;
      height: 150px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #swBody {
      background-color: #808080;
      color: #161940;
      height: 500px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 10px;
    }

}