:root {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

header {
    background-color: #2311a8;
    height: 80px;
    padding: .8rem;
    display: flex;
    justify-content: center;
}

#navMain {
    margin: 1rem;
    display: flex;
}

.starshipNav {
    border: solid 2px;
    padding: 1rem;
}

footer {
    background-color: #13095e;
    color: #fffdd0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }