:root {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../images/backStarsShip.jpg");
}

h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

#head {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: fit-content;
    padding: 15px;
}

#navMain {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
}

.starshipNav {
    background-color: black;
    padding: 1rem;
}