:root {
  box-sizing: border-box;
  background-color: #808080;
}

body {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: #fffdd0;
  font-size: 40px;
  margin: 0;
}

h2 {
  margin: 0;
  color: #fffdd0;
}

h3 {
  font-family: "Rubik-Light", sans-serif;
  color: #fffdd0;
  margin: 0;
}

h4 {
  color: #fffdd0;
}

p {
  color: #fffdd0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#head {
  background-image: url('../images/backStars.jpg');
  background-repeat: repeat-x;
  background-size: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#logo {
  height: 120px;
  padding: 20px;
}

.backArrow {
  background-color: transparent;
  border: none;
  margin: 15px;
}

.backArrow img {
  height: 50px;
}

.buttons {
  display: flex;
  background-color: black;
  color: #ffe861;
  height: 3rem;
  border-radius: 12px;
  font-size: larger;
  font-weight: 500;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.genders {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#body {
  margin-top: 150px;
  text-align: center;
}

#gallery {
  color: #161940;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.characters {
  height: 16rem;
  margin: 10px;
  border: black 2px solid;
}

#top {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
}