:root {
    box-sizing: border-box;
    background-color: #808080;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
  }
  
  h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }
  
  h2 {
    margin: 0;
    color: #fffdd0;
  }
  
  h3 {
    font-family: "Rubik-Light", sans-serif;
    color: #fffdd0;
    margin: 0;
  }
  
  h4 {
    color: #fffdd0;
  }
  
  p {
    color: #fffdd0;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }

  header {
    background-color: #13095e;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .backArrow {
    background-color: transparent;
    border: none;
    margin: 15px;
    position: absolute;
    left: 0;
  }
  
  .backArrow img {
    height: 50px;
  }

  .buttons {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #senButton, #repButton , #top {
    background-color: #fffdd0 ;
    color: #13095e;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: large;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fa-democrat {
    color: #0f2446;
  }

  .fa-republican {
    color: #de0100
  }

  .fa-star {
    color: purple;
  }

  figcaption {
    display: flex;
    justify-content: space-between;
  }
  
  .progressDiv {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 10px;
  }

  progress {
    background: white;
    width: 200px;
    height: 10px;
  }

  progress {
    color: white;
  }

  #top {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    scroll-behavior: smooth;
    text-decoration: none;
  }
  