:root {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

header {
    background-color: #2311a8;
    height: 80px;
    display: flex;
    justify-content: center;
}

.poketainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY( -180deg );
    transition: transform 0.75s;
}

.front,
.back {
    background: white;
    color: #13095e;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back {
    background: #13095e;
    color: white;
    transform: rotateY( 180deg );
}

footer {
    background-color: #13095e;
    color: #fffdd0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }