:root {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: circle;
}

p {
    color: black;
    font-weight: bold;
}

.backArrow {
    background-color: transparent;
    border: none;
    margin: 15px;
    position: absolute;
}

.backArrow img {
    height: 50px;
    cursor: pointer;
}

#logo {
    height: 170px;
}

header {
    background-color: #3b4cca;
    width: 100%;
    height: 180px;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

main {
    /*background: fixed no-repeat center/100% url('/images/pokeballback.png');
    object-fit: cover;*/
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.ton {
    font-family: "Rubik", sans-serif;
    background-color: #222e85;
    color: #ffde00;
    border: none;
    border-radius: 1rem;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
}

.poketainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(-180deg);
}

.card_face {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    color: #aaa;
    text-align: center;
    font-size: 1.25rem;
    backface-visibility: hidden;
    border-radius: 7px;
}

.frontImg {
    height: 180px;
    width: 180px;
    padding: 5px;
}

.frontLabel {
    background-color: rgba(200, 200, 200, 0.8);
}

.card_face-front {
    background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)), url("../images/pokemoncard.jpg");
    background-size: 200px 260px;
}

.card_face-back {
    background-image: url('/images/pokemonFront.jpg');
    background-size: 200px 260px;
    transform: rotateY(180deg);
}

.card_face ul {
    margin-top: 2.5rem;
    color: black;
    font-size: 1.1rem;
    text-align: left;
}

.card_face li {
    color: black;
    font-size: 1.1rem;
    text-align: left;
}

.moves {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin-left: 1.05rem;
    position: absolute;
    top: 125px; left: 8px;
}

#top {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
  }