:root {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    color: #fffdd0;
    font-size: 40px;
    margin: 0;
  }

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
}

p {
    color: #13095e;
    font-weight: bold;
}


#logo {
    width: 290px;
    height: 140px;
    margin: 15px;
}

header {
    background-color: #3b4cca;
    display: flex;
    justify-content: center;
}

main {
    /*background: fixed no-repeat center/100% url('/images/pokeballback.png');
    object-fit: cover;*/
    height: 100vh;
    width: 100%;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.ton {
    font-family: "Rubik", sans-serif;
    background-color: #222e85;
    color: #ffde00;
    border: none;
    border-radius: 1rem;
    padding: 15px;
    font-size: 1rem;
}

.poketainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.scene {
    width: 200px;
    height: 260px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #aaa;
    text-align: center;
    font-size: 1.25rem;
    backface-visibility: hidden;
    border-radius: 13px;
}

.card_face-front {
    background-image: linear-gradient(rgba(211, 211, 211, 0.5), rgba(211, 211, 211, 0.5)), url("../images/pokemoncard.jpg");
    background-size: 200px 260px;
}

.card_face-back {
    transform: rotateY(180deg);
}

.card_face ul {
    text-align: left;
    margin-left: -5px;
}
